body{
    color: white;
    background-image: url("./images/space.jpg");
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}
div{
    display: block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.btn{
    padding: 6px 15px;
    background-color: white;
    border: none;
    /* font-family: 'Orbitron', sans-serif; */
}